:root{
  --tuck: -12px;     /* âm hơn => chữ sát hơn */
  --sub-gap: 8px;    /* khoảng cách chữ lớn -> sub */
}

.continue-text-1 {
    font-family: var(--font-cormorant-garamond), serif;
    font-size: 150px;
    font-weight: 600;
    color: #3E392F;          
}

html, body { 
    height: 100%; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    overflow: auto;
    margin-right: 0 !important;
    padding-right: 0 !important;
    scrollbar-gutter: stable;
}

/* Custom scrollbar ép sát bên phải */
* {
    scrollbar-width: thin;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 8px;
    position: absolute;
    right: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar-thumb {
    background: rgba(235, 192, 99, 0.3);
    border-radius: 4px;
    border: none;
    margin: 0;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(235, 192, 99, 0.6);
}

.cinzel-text{
    font-family: var(--font-cinzel), serif;
    font-size: 80px;
    font-weight: 600;
    color: rgba(235, 192, 99, 0.6);
    text-transform: uppercase;
}


.cinzel-text-2{
    font-family: var(--font-cormorant-garamond);
    font-size: 55px;
    font-weight: 300;
    color: rgba(235, 192, 99, 0.7); 
    letter-spacing: -1px; 
    line-height: 1;
    text-transform: uppercase;    
}
.profile2-header {
    font-family: var(--font-merriweather);
    font-size: 180px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.profile2-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border: 1px solid #867f74;
}

.profile2-blocks{
  font-family: var(--font-marcellus);
  font-size: 140px;      
  color: #8d785b;
  gap: 0;
}
.block-profile-2{
    position: relative;
  display: flex;
  /* flex-direction: row;     */
  align-items: baseline;   
  gap: 10px;               
}

.block-profile-2 + .block-profile-2{
  margin-left: var(--tuck);
}

.block-letter{
  line-height: .9;        
}

.profile2-sub{
    font-size: 14px;
    position: absolute;
    left: calc(100% + var(--sub-gap));
    top: 55%;
    transform: translateY(-50%);
    transform-origin: left center;
    margin: 0;            
    white-space: nowrap;
    opacity: 0;           
    pointer-events: none;
}

.profile2-sub .profile2-char{
  display: inline-block;
}

.profile-3-item-container{
    position: relative;
    /* border-radius: 0.75rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-3-item-container .profile3-item{
    /* left: 50%;
    top: 50%; */
    position: absolute;
    /* transform: translate(-50%, -50%); */
    width: 400px;
    height: 250px;
    border-radius: 0.75rem;
    overflow: hidden;
}

/* .profile-3-item-container.is-start .profile3-item{
  position: absolute;
  transform: translate(var(--x,0), var(--y,0)) scale(.9);
  opacity: 0;
} */

.profile3-header{
    position: absolute;
    font-family: var(--font-host-grotesk);
    font-size: 70px;
    font-weight: 500;
    color: #191919;
}